<form method="POST" id="myForm">
		<label id="formLabel" for="number">
			Enter Number:
        </label>
			<input type="number" id ="number" name="number"/>
			<button type="submit">Check Number</button>
	</form>
    <ul id="attempts"></ul>
    <div id="error" class="error" hidden>I'm an error</div>